asgiref==3.9.1
boto3==1.39.4
botocore==1.39.4
Django==5.2.4
django-autocomplete-light==3.12.1
django-jazzmin==2.6.0

django-storages==1.14.6
jmespath==1.0.1
phonenumbers==9.0.10
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
python-decouple==3.8
s3transfer==0.13.0
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.5.0
gunicorn==23.0.0
whitenoise==6.8.2
dj-database-url==2.3.0
psycopg2-binary==2.9.10
django-storages==1.14.6
boto3==1.39.4

Pillow==10.4.0
