{% load static %}
{% if marketing.meta_pixel_id %}
<noscript>
  <img
    height="1"
    width="1"
    style="display:none"
    src="https://www.facebook.com/tr?id={{ marketing.meta_pixel_id|urlencode }}&ev=PageView&noscript=1"
    alt=""
  >
</noscript>
{% endif %}
{% with marketing.google_tag_manager_id|default:"GTM-M7FTNXV6" as gtm_id %}
{% if gtm_id %}
<noscript>
  <iframe
    src="https://www.googletagmanager.com/ns.html?id={{ gtm_id }}"
    height="0"
    width="0"
    style="display:none;visibility:hidden"
  ></iframe>
</noscript>
{% endif %}
{% endwith %}
<script>
  if (window.__bgmSmokeAutoStart !== false) {
    window.__bgmSmokeAutoStart = true;
  }
  if (typeof window.__bgmSmokeAutoDelayMs !== "number") {
    window.__bgmSmokeAutoDelayMs = 220;
  }
</script>
<script src="{% static 'admin/js/bgm-smoke.js' %}"></script>
{% include "includes/cookie_notice.html" %}
