{% extends "admin/change_list.html" %}
{% load static %}

{% block object-tools %}
  {{ block.super }}
  {% if import_url %}
    <a href="{{ import_url }}" class="btn btn-outline-secondary page-action-btn" title="Import products">
      <i class="fas fa-file-upload"></i>
      <span>Import Products</span>
    </a>
  {% endif %}
  {% if rollback_url and last_import %}
    <a href="{{ rollback_url }}" class="btn btn-outline-danger page-action-btn" title="Rollback last import">
      <i class="fas fa-undo"></i>
      <span>Rollback Last Import</span>
    </a>
  {% endif %}
{% endblock %}
